<div id="<%= dom_id todo %>">
  <p class="text-2xl">
    <strong>Title:</strong>
    <%= todo.title %>
  </p>

  <p class="text-2xl">
    <strong>Completed:</strong>
    <%= todo.completed || "Not Provided" %>
  </p>

</div>
