<div id="<%= dom_id todo %>" class="flex flex-col gap-4">
  <div class="text-2xl">
    <% if todo.completed === "completed" %>
      <div class="line-through">
        <%= todo.title %>
      </div>
    <% else %>
      <%= todo.title %>
    <% end %>
  </div>
</div>
